<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasonlat.infrastructure.dao.IAiClientApiDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jasonlat.infrastructure.dao.po.AiClientApi">
        <id column="id" property="id" />
        <result column="api_id" property="apiId" />
        <result column="base_url" property="baseUrl" />
        <result column="api_key" property="apiKey" />
        <result column="completions_path" property="completionsPath" />
        <result column="embeddings_path" property="embeddingsPath" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="queryByApiId" resultType="com.jasonlat.infrastructure.dao.po.AiClientApi">
        SELECT id, api_id, base_url, api_key, completions_path, embeddings_path, status, create_time, update_time
        FROM `ai-agent-station`.`ai_client_api`
        WHERE api_id = #{apiId} AND status = 1
    </select>

</mapper>
