<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jasonlat.infrastructure.dao.IAiClientModelDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jasonlat.infrastructure.dao.po.AiClientModel">
        <id column="id" property="id" />
        <result column="model_id" property="modelId" />
        <result column="api_id" property="apiId" />
        <result column="model_name" property="modelName" />
        <result column="model_type" property="modelType" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="queryByModelId" resultType="com.jasonlat.infrastructure.dao.po.AiClientModel">
        SELECT id, model_id, api_id, model_name, model_type, status, create_time, update_time
        FROM `ai-agent-station`.`ai_client_model`
        WHERE model_id = #{modelId} AND status = 1
    </select>

</mapper>
